<!DOCTYPE HTML>
<html>

    <head>
        <title>My Awesome AngularJS Search</title>

        

        <script src="lib/angular.js"></script>
        <script src="js/elastic.angular.js"></script>

        <!-- Our actual Search script -->
        <script src="js/search.js"></script>
    </head>

    <!-- Application Scope -->
    <body ng-app="SearchApp">
        <!-- Controller Scope -->
        <div class="container" ng-controller="SearchController">

            <!-- Keyword search field -->
            <input type="text" ng-change="search()" ng-model="keywords" />

            <ul id="results">
                <!-- ng-repeat repeats this DOM element for an array -->
                <li ng-repeat="user in users">
                    <h2>{{user.LASTNAME}}</h2>

                    <p>{{user.FIRSTNAME}}</p>

                    
                </li>
            </ul>

        </div>
    </body>

</html>